<!DOCTYPE html>
<html lang="{{.Lang}}">
{{- partial "head.html" . -}}

<body>
    <div id="content" class="m-auto">
        <div id="content-wrap">
           
            {{ partial "header_custom.html"}}
            
             <h1 class="mv-0 sans-serif fs-xl">Digests</h1>
             <p>All daily digests grouped by year</p>
            {{.Content}}

            <div class="flex flex-row">
                <div class="flex-grow-1">

                    {{ range $value := .Pages.GroupByDate "2006" }}
                    <h2 id="section_{{.Key}}" class="text-condense bolder sans-serif">{{ .Key }}</h2>

                    {{ range .Pages }}
                    <div class="pb-0 pr-30-md pr-0">
                        <h3 class="mb-min"><a class="no-decoration sans-serif" href="{{ .Permalink }}">{{ .Title
                                }}</a>
                        </h3>
                    </div>
                    {{ end }}

                    {{ end }}

                </div>
                <div class="hidden visible-md">
                    <ul class="list-no-style border-left pv-1 sticky">
                        {{ range $value := .Pages.GroupByDate "2006" }}
                        <li class="mb-min"><a class="text-condense bolder no-decoration sans-serif"
                                href="#section_{{.Key}}">{{ .Key
                                }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>