* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

/*****************
***** COLORS *****
*****************/

.color-parchment {
    background-color: #f8f6ec;
}

/*****************
****** FONT *****
*****************/

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.no-decoration {
    text-decoration: none;
}

.boldest {
    font-weight: 800;
}

.bolder {
    font-weight: 600;
}

.bold {
    font-weight: 500;
}

.light {
    font-weight: 300;
}

.highlight pre {
    padding: 15px;
    border-radius: 5px;
}

code span {
    font-family: monospace !important;
}

.sans-serif {
    font-family: helvetica, sans-serif;
}

.text-condense{
    letter-spacing: -1px;
}

.text-sm{
    font-size: small;
}

.text-2xl{
    font-size: 1.25em !important;
}

.text-3xl{
    font-size: 1.5em !important;
}

.text-4xl{
    font-size: 2.25em !important;
}

.text-5xl{
    font-size: 3em;
}

.text-6xl{
    font-size: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica, sans-serif;
}

/* https://stackoverflow.com/questions/20924039/wrong-font-size-when-using-float-right-in-css-on-mobile-safari/22417120#22417120 */
code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.site-title{
    color: #292824;
}

/*****************
***** LAYOUT *****
*****************/

.flex {
    display: flex;
}

.flex-1{
    flex-basis: 100%;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.m-auto {
    margin: auto;
}

#content {
    max-width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
}

.grid-lhs{
    grid-template-columns: clamp(250px, 30%, 300px) auto;
}

.grid-rhs{
    grid-template-columns: auto clamp(250px, 30%, 300px);
}

/******************
***** MARGINS *****
*******************/

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-20 {
    margin-top: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 3rem;
}

.mb-min {
    margin-bottom: 0.5rem;
}

.mv-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mv-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mv-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mv-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

/******************
***** PADDING *****
*******************/

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pv-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pv-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pv-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pv-min {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.ph-0{
    padding-right: 0;
    padding-left: 0;
}

.ph-1{
    padding-right: 1rem;
    padding-left: 1rem;
}

.pr-0 {
    padding-right: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 6rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.pb-min {
    padding-bottom: 0.6rem;
}

.pr-15 {
    padding-right: 15px;
}

.pr-30 {
    padding-right: 30px;
}

/*****************
*** DECORATION ***
*****************/

p code{
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: rgba(175, 184, 193,0.2);
    border-radius: 6px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.border-all {
    border: 1px solid rgba(0,0,0,.1,0.2);
    border-radius: 3px;
}

.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.border-left {
    border-left: 1px solid rgba(0,0,0,.1);
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

/******************
****** LISTS ******
******************/

.list-no-style {
    list-style: none;
}

/******************
****** LINKS ******
******************/

.color-default{
    color: #24292f;
}

.color-sub{
    color: #74777a;
}

a {
    color: #292824;
    text-decoration: none;
}

#home a {
    color: #aa0505;
    text-decoration: none;
}

a.active{
    font-weight: 700;
}

.post{
    color: #24292f;
}

.post a{
    font-weight: 500;
    color: #aa0505;
}

a.red{
    color: #aa0505;
}

a.red:hover {
    color: #595854;
    text-decoration: underline;
}

#nav a{
    color: #aa0505;
}

a:hover {
    color: #595854;
    text-decoration: underline;
}

.post h3, .post h2, .post h4{
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.post img{
    max-width: 100%;
}

h3{
    word-break: break-word;
}

h4 a{
    word-break: break-word;
}
h1{
    color: #24292f;
}

.break-word{
    word-break: break-word;
}

li a:visited{
    color: #c7c7c7;
}

/******************
******* QUOTE *****
******************/

blockquote {
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #d1b758;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
    margin: 0;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #d1b758;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.callout {
    color: #555555;
    padding: 1em;
    border: 1px solid #d1b758;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

pre{
    overflow-x: auto;
}

/******************
****** FOOTER *****
******************/

    #content {
        position: relative;
        min-height: 100vh;
    }
  
  #content-wrap {
    padding-bottom: 40px;    /* Footer height */
    
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;            /* Footer height */
  }

body{
    margin: 0;
}

/******************
**** RESPONSIVE ***
******************/

/*sm*/
@media (min-width: 576px) {}

/*md*/
@media (min-width: 768px) {
    .visible-md {
        display: initial;
    }

    .pr-30-md {
        padding-right: 30px;
    }

    .flex-md {
        display: flex;
    }
    .grid-md{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(0, 1fr);
    }
    .ph-1-md{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/*lg*/
@media (min-width: 992px) {
    #content {
        max-width: 80%;
    }
}

/*xl*/
@media (min-width: 1200px) {
    #content {
        max-width: 950px;
    }
}

/*xxl*/
@media (min-width: 1400px) {
    #content {
        max-width: 950px;
    }
}